html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
	overflow: hidden;
}

body {
    all: inherit;
}

* {
	box-sizing: inherit;
}

.groc-container {
/*    max-width: 40rem;*/
    max-width: 25rem;
	margin: 0 auto;
    text-align: center;
	box-shadow: 0 0 40px rgba(0,0,0,.7);
	overflow: hidden;
}

.groc-header,
.groc-footer {
	background-color: #F9F9F9;
    line-height: 10vh;
    padding: 0 15px;
    font-size: 2rem;
	font-weight: bold;
	color: #C4C4C4;
    text-transform: capitalize;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	position: relative;
	z-index: 1;
}

.groc-header {
	border-bottom: 1px solid #C4C4C4;
}

.groc-footer {
	border-top: 1px solid #C4C4C4;
}

.groc-main {
    height: 80vh;
	position: relative;
	z-index: 0;
}

.groc-list {
/*	background-color: #C4C4C4;*/
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.groc-list::-webkit-scrollbar {
	width: 18px;
}

.groc-list::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-clip: padding-box;
	background-color: rgba(204, 204, 204, .5);
	border: 5px solid transparent;
}

.groc-list:hover::-webkit-scrollbar-thumb {
	background-color: rgba(204, 204, 204, 1);
}

.groc-list__item {
	position: relative;
	background-color: #eee;
    text-transform: capitalize;
	border-bottom: 1px solid #C4C4C4;
	height: 12vh;
	overflow: hidden;
}

.groc-list__item:last-child {
	border: none;
}

.groc-list__item span {
	position: absolute;
/*	display: block;*/
	background-color: #fff;
    padding: 0 1rem;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	color: #000;
    font-size: 1.8rem;
	line-height: 12vh;
	left: 0;
	right: 0;
	transition: .5s;
}

.groc-list__item.opened-left span {
	left: 5rem;
	right: -5rem;
}

.groc-list__item.opened-right span {
	left: -5rem;
	right: 5rem;
}

.groc-list__item span i {
	position: absolute;
	top: 50%;
	margin-top: -1.25rem;
	font-size: 2.5rem;
	color: #ccc;
	cursor: pointer;
}

.groc-list__item span i[class*="left"] {
	left: 1rem;
}

.groc-list__item span i[class*="right"] {
	right: 1rem;
}