$white: #fff;
$gray: #999;
$black: #000;
$lightGray: #F9F9F9;
// https://htmlacademy.ru/courses/53/run/4
$red: #E74C3C;
$green: #2CC36C;
$blue: #3498DB;
$orange: #E67E22;

$animationTime: .6s;
$itemHeight: 12vh;
$iconSize: 2.5rem;

%ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

html {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

body {
	all: inherit;
}

* {
	box-sizing: inherit;
}

i.fa {
	color: $gray;
	cursor: pointer;
	font-size: $iconSize;
	margin-top: -.5em;
	position: absolute;
	top: 50%;
	transition: $animationTime;

	&.active {
		color: $black;
	}
}			

.groc-container {
	box-shadow: 0 0 40px rgba(0, 0, 0, .7);
	margin: 0 auto;
	// max-width: 40rem;
	max-width: 25rem;
	overflow: hidden;
	text-align: center;
}

.groc-header {
	background-color: $lightGray;
	border-bottom: 1px solid $gray;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	color: $gray;
	font-size: 2rem;
	font-weight: bold;
	line-height: 10vh;
	padding: 0 15px;
	position: relative;
	text-transform: capitalize;
	z-index: 5;

	i {
		&[class*='pencil'] {
			right: $iconSize/2.5;
		}

		&[class*='plus'] {
			color: $black;
			// font-size: $iconSize*.75;
			// left: -$iconSize*1.5;
			left: -$iconSize;
			line-height: 1.2;
		}
	}

	&__done {
		color: $black;
		cursor: pointer;
		font-size: 1.5rem;
		line-height: 1;
		margin-top: -.5em;
		position: absolute;
		right: -50%;
		text-transform: capitalize;
		top: 50%;
		transition: $animationTime;

		.groc-header.edit-mode & {
			right: $iconSize/2.5;
		}
	}

	&.edit-mode {
		i {
			&[class*='pencil'] {
				right: -$iconSize*1.5;
			}

			&[class*='plus'] {
				left: $iconSize;
			}
		}
	}
}

.groc-main {
	height: 80vh;

	&__status {
		background-color: $blue;
		color: $white;
		font-size: .7rem;
		letter-spacing: .1em;
	}
}

.groc-list {
	height: 100%;
	list-style: none;
	margin: 0 -18px 0 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;

	&::-webkit-scrollbar {
		width: 18px;
	}
	// &::-webkit-scrollbar-thumb {
	// 	background-clip: padding-box;
	// 	background-color: rgba(204, 204, 204, .5);
	// 	border: 5px solid transparent;
	// 	border-radius: 100px;
	// }
	// &:hover::-webkit-scrollbar-thumb {
	// 	background-color: rgba(204, 204, 204, 1);
	// }
}

.groc-list__item {
	background-color: #EEE;
	border-bottom: 1px solid $gray;
	height: $itemHeight;
	overflow: hidden;
	position: relative;
	text-transform: capitalize;
	transition: background-color $animationTime, height $animationTime, border-width $animationTime/2;
	z-index: 5;

	.groc-list.filtered &.at-home {
		border-width: 0;
		height: 0;
		transition: height $animationTime, border-width ($animationTime/2) ($animationTime/3);
		z-index: -5;
	}

	i {
		&[class*='minus'] {
			color: $red;
			left: -$iconSize*2;
		}

		&[class*='cart'] {
			left: $iconSize/2;
		}
		
		&[class*='home'] {
			right: $iconSize/2;
		}
	}

	span {
		@extend %ellipsis;
		background-color: $white;
		box-shadow: 0 0 10px rgba(0, 0, 0, .2);
		color: $black;
		font-size: 1.5rem;			
		left: $iconSize*2;
		line-height: $itemHeight;
		padding: 0 $iconSize;
		position: absolute;
		right: 0;
		transition: $animationTime;
		width: calc(100% - #{$iconSize}*2);

		i {
			&[class*='left'] {
				left: $iconSize/2.5;
			}

			&[class*='right'] {
				right: $iconSize/2.5;
			}
		}
	}

	&.at-home span {
		left: 0;
		right: $iconSize*2;
	}

	&.edited {
			background-color: $white;

		i {	
			&[class*='cart'] {
				left: -$iconSize*2;
			}

			&[class*='minus'] {
				left: $iconSize;
			}
		}

		span {
			left: $iconSize*3;
			right: -$iconSize;

			i[class*='left'] {
				left: -$iconSize;
			}
		}
	}

	&.deleted {
		border-width: 0;
		height: 0;
		opacity: 0;
		transition: opacity $animationTime, height $animationTime, border-width ($animationTime/2) ($animationTime/3);
		z-index: -5;
	}
}

.groc-footer {
	@extend %ellipsis;
	background-color: $lightGray;
	border-top: 1px solid $gray;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	color: $gray;
	font-size: 2rem;
	font-weight: bold;
	line-height: 10vh;
	padding: 0 3.8rem;
	position: relative;
	text-transform: capitalize;
	z-index: 5;

	i {
		&[class*='list'] {
			left: $iconSize/2.5;
		}

		&[class*='cart'] {
			right: $iconSize/2.5;
		}
	}
}