$white: #fff;
$gray: #999;
$black: #000;
$lightGray: #F9F9F9;

$animationTime: .6s;
$itemHeight: 12vh;

%ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

html {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

body {
	all: inherit;
}

* {
	box-sizing: inherit;
}

i.fa {
	color: $gray;
	cursor: pointer;
	font-size: 2.5rem;
	margin-top: -.5em;
	position: absolute;
	top: 50%;

	&.active {
		color: $black;
	}
}			

.groc-container {
	box-shadow: 0 0 40px rgba(0, 0, 0, .7);
	margin: 0 auto;
	// max-width: 40rem;
	max-width: 25rem;
	overflow: hidden;
	text-align: center;
}

.groc-header {
	background-color: $lightGray;
	border-bottom: 1px solid $gray;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	color: $gray;
	font-size: 2rem;
	font-weight: bold;
	line-height: 10vh;
	padding: 0 15px;
	position: relative;
	text-transform: capitalize;
	z-index: 5;

	i {
		right: 1rem;
	}
}

.groc-main {
	height: 80vh;

	&__status {
		background-color: $black;
		color: $white;
		font-size: .7rem;
		letter-spacing: .1em;
	}
}

.groc-list {
	height: 100%;
	list-style: none;
	margin: 0 -18px 0 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;

	&::-webkit-scrollbar {
		width: 18px;
	}

	// &::-webkit-scrollbar-thumb {
	// 	background-clip: padding-box;
	// 	background-color: rgba(204, 204, 204, .5);
	// 	border: 5px solid transparent;
	// 	border-radius: 100px;
	// }

	// &:hover::-webkit-scrollbar-thumb {
	// 	background-color: rgba(204, 204, 204, 1);
	// }

	&__item {
		background-color: #EEE;
		border-bottom: 1px solid $gray;
		height: $itemHeight;
		overflow: hidden;
		position: relative;
		text-transform: capitalize;
		transition: background-color $animationTime, z-index $animationTime, height $animationTime, border-width $animationTime/2;
		z-index: 5;

		.groc-list.filtered &.at-home {
			border-width: 0;
			height: 0;
			transition: z-index $animationTime, height $animationTime, border-width ($animationTime/2) ($animationTime/3);
			z-index: -5;
		}

		.groc-list.edited & {
			background-color: $black;
		}

		i {

			&.fa-shopping-cart {
				left: 4%;
			}
			
			&.fa-home {
				right: 4%;
			}
		}

		span {
			@extend %ellipsis;
			background-color: $white;
			box-shadow: 0 0 10px rgba(0, 0, 0, .2);
			color: $black;
			font-size: 1.5rem;			
			left: 20%;
			line-height: $itemHeight;
			padding: 0 2.5rem;
			position: absolute;
			right: 0;
			transition: $animationTime;
			width: 80%;

			i {

				&[class*='left'] {
					left: 1rem;
				}

				&[class*='right'] {
					right: 1rem;
				}
			}
		}

		&.at-home span {
			left: 0;
			right: 20%;
		}
	}
}

.groc-footer {
	@extend %ellipsis;
	background-color: $lightGray;
	border-top: 1px solid $gray;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	color: $gray;
	font-size: 2rem;
	font-weight: bold;
	line-height: 10vh;
	padding: 0 3.8rem;
	position: relative;
	text-transform: capitalize;
	z-index: 5;

	i {

		&[class*='list'] {
			left: 1rem;
		}

		&[class*='cart'] {
			right: 1rem;
		}
	}
}